@import url("https://fonts.googleapis.com/css2?family=Gugi");

@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --content-max-width: 1955px;

  --scrollbar-vertical-size: 16px;
  --scrollbar-horizontal-size: 16px;
}
html,
body,
:root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #333;
  color: #fff;
}
html {
  scroll-behavior: smooth;
}
.gugi {
  font-family: "Gugi", sans-serif;
}
